body { 
  margin: 0; 
  padding: 0; 
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}


#map { 
position: absolute; 
top: 0; 
bottom: 0; 
width: 100%; 
z-index: 4000;
}

.form-container {
  position: relative;
  margin-left: 50px; 
  margin-top: 100px;    
  height: 750px;
  width: 500px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  border-radius: 20px;
  opacity: 100%;
  font-family: 'Roboto', sans-serif;
}

.vis-container {
position: relative;
margin-left: 50px; 
margin-right: 30px;
margin-top: 100px;  
padding: 20px;  
background: rgba(0, 0, 0, 0.5);
z-index: 5000;
border-radius: 20px;
opacity: 100%;
font-family: 'Roboto', sans-serif;
}


.vis-tub {
position: relative;
float:left;
padding:10px;
/* padding-bottom: 40px; */
margin: 10px;   
background: rgb(255,255,255);
z-index: 6000;
border-radius: 20px;
opacity: 100%;
font-family: 'Roboto', sans-serif;
}

#crowding-line-vis {
padding-top: 50px;
padding-left: 30px;
}

#age-success-line-vis {
padding-top: 50px;
}

#age-death-line-vis {
padding-top: 50px;
}






input, select{
outline: none;
margin: 5;
border-radius: 3px;
-webkit-box-shadow: none;
box-shadow: none;
width: 50%;
font-size: 22px;
font-family: inherit;
background: rgba(0, 0, 0, 0.5);
opacity: 100%;
padding-top: 5px;
padding-bottom: 5px;
margin-top: 5px;
margin-bottom: 5px;
}

svg .text {
font-family: 'Roboto', sans-serif;
font-weight: 600;
}

.legend-label {
font-family: 'Roboto', sans-serif;
font-weight: 600;
}

svg {
font-family: 'Roboto', sans-serif;
font-weight: 600;
padding-top: 20px;
}


label {
  font-size: x-large;
  font-weight: 600;
}


input[type=checkbox]
{
/* Double-sized Checkboxes */
-webkit-transform: scale(2); /* Safari and Chrome */
transform: scale(2);
padding: 10px;
}


/* The submit button */
#get-model {
background: rgba(0, 0, 0, 0.5);
font-family: inherit;
font-size: large;
width: 15%;
height: 35px;
border-radius: 8px;
}





/* Crowding Toggle Switch */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}