body { 
  margin: 0; 
  padding: 0; 
  height: 100%; 
  width: 100%;
  background-color: darkgray;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}


#map { 
position: absolute; 
top: 0; 
bottom: 0; 
left: 0;
right:0; 
width: 100%; 
margin-top: -50px;
height:140vh;
/* z-index: 4000; */
}

@media screen and (max-width: 1928px) {
  #map {
    height: 180vh;
    width: 102vw;
  }
}

@media screen and (min-width: 1928px) {
  .vis-container {
    margin-right: 150px;
  }
  .form-container {
    margin-left: 100px;
  }
  .about-container {
    margin-right: 150px;
  }

}




/* We don't want any links to be underlined. Let's remove that globally */
a {
  text-decoration: none;
  color: #000000;
  font-size: 20pt;
  font-weight: 700;
  display: inline-block;

}

.nav {
  position: absolute;
  vertical-align: centre;
  z-index: 9999;
  width:100%;
  overflow:hidden;
  background-color: rgba(0, 0, 0, 0.75);
  height: 75px;
  font-family: 'Roboto', sans-serif;
}

.nav .nav-link {
  position: relative; 
  vertical-align: centre;
  display: inline-flex;
  float: left;
  height: 100%;
  background-color: #ffffff;
  color: #000000;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 6px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;

}

.nav .nav-link:hover {
  background-color: #D3D3D3;
  border: #50190b solid 1px;
}



#mountain-icon{
  margin: 0px;
  width: 60px;
  height: 40px;
  padding: 0px;

}

.mountain {
  margin-left: 100px;
  margin-top: 0px;
  padding: 0px;
}


.form-container {
  position: relative;
  margin-top: 100px;    
  height: 1000px;
  width: 550px;
  background: rgba(0, 0, 0, 0.65);
  z-index: 5000;
  border-radius: 20px;
  opacity: 100%;
  font-family: 'Roboto', sans-serif;
  padding: 40px;
  padding-top: 20px;

}

.form-item-holder {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
}

.form-item-holder last {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  margin-bottom: 40px;
}



.vis-container {
  display: table-cell;
  vertical-align: centre;
  text-align: center;
  position: relative;
  margin-left: 50px; 
  margin-top: 100px;  
  padding: 20px;  
  background: rgba(0, 0, 0, 0.65);
  z-index: 5000;
  border-radius: 20px;
  opacity: 100%;
  font-family: 'Roboto', sans-serif;
}

.about-container {
  display: table-cell;
  vertical-align: centre;
  text-align: center;
  position: relative;
  margin-left: 50px; 
  margin-top: 100px;  
  padding: 20px;  
  background: rgba(0, 0, 0, 0.65);
  z-index: 5000;
  border-radius: 20px;
  opacity: 100%;
  font-family: 'Roboto', sans-serif;
}

.about-sub-container {
  display: table-cell;
  vertical-align: centre;
  /* text-align: center; */
  position: relative;
  margin-left: 50px; 
  margin-top: 100px;  
  padding: 20px;  
  background: #ffffff;
  z-index: 6000;
  border-radius: 20px;
  opacity: 100%;
  font-family: 'Roboto', sans-serif;
}

h1 #about-header {
  display: inline-block;
  font-size: 36pt;
  font-weight: 700;
} 

crowding-image {
  display: inline-block;
}

h2 .about-sub-header {
  text-align: left;
}

#main-text {
  text-align: left;
  margin-left: 30px;
}

.about-link {
  font-size: 12pt;
  color: #2196F3;
  font-weight: 200;
}

#welcome-container {
  display: inline-block;
  vertical-align: centre;
  text-align: center;
  position: relative;
 
  margin-left: 50px; 
  background: rgba(0, 0, 0, 0.65);
  margin-right: 30px;
  margin-top: 100px;  
  padding: 20px;
  padding-left: 40px;  
  z-index: 5000;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  margin-left: 20px;
}

.welcome-box {
  display:inline-block;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 18pt;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-top: 20px;
}


button:hover {
  background-color: #D3D3D3;
  border: #50190b solid 1px;
}

button {
  display:inline-block;
  font-family: 'Roboto', sans-serif !important;
  font-size: 12pt;
  font-weight: 700;
  padding: 0px;
  margin-top: 0px;
  background-color: #ffffff;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
  border-radius: 8px;
} 


#welcome-main {
  margin-bottom: 0px;
}

#welcome-sub {
  font-family: 'Roboto', sans-serif !important;
  font-size:18pt;
  padding: 0px;
  margin-top: 0px;
}

h1 .welcome-box {
  margin-bottom: 0px;
}


.vis-tub {
  display: inline-block;
  position: relative;
  padding:10px;
  margin: 10px;   
  background: rgb(255,255,255);
  z-index: 6000;
  border-radius: 20px;
  opacity: 100%;
  font-family: 'Roboto', sans-serif;
}

.main-header {
  font-size: 30pt;
  font-weight: 700;
  background-color: #ffffff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px;
  padding-right: 40px;
}

.sub-header {
  margin-top: 10px;
  background-color: #ffffff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px;
  font-size: 20pt;
  padding-left: 20px;
  padding-right: 40px;
}

#slider {
  display: inline-block;
  padding-left: 70px;
}

.axis .slider text {
  font-size: 25px;
}

#crowding-line-vis {
padding-top: 50px;
padding-left: 30px;
}

[type="checkbox"]
{
    vertical-align:right;
    margin-right: 0px;
}

.vis-header {
  display: inline-block;
  text-align: center;
  line-height: 1.4em;
  margin: 10px;
  margin-bottom: 0px;
  font-size: 20pt;
  font-weight: 600;
  border-radius: 7px;
  background-color: #adcbe3;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.vis-header-age {
  text-align: center;
  line-height: 1.4em;
  margin: 10px;
  margin-bottom: 0px;
  font-size: 20pt;
  font-weight: 600;
  border-radius: 7px;
  background-color: #adcbe3;
  padding-top: 5px;
  padding-bottom: 5px;
  /* padding-left: 20px;
  padding-right: 20px; */
}



input, select{
outline: none;
margin: 5;
border-radius: 3px;
-webkit-box-shadow: none;
box-shadow: none;
width: 50%;
font-size: 20px;
font-family: inherit;
background: rgba(0, 0, 0, 0.5);
opacity: 100%;
padding-top: 5px;
padding-bottom: 5px;
margin-top: 5px;
margin-bottom: 5px;
}

label {
  font-size: 16pt;
  font-weight: 500;
  margin-bottom: 0px;

}

.activate-label {
  text-align: center;
  padding-left: 20px;
  font-size: 20pt;
  font-weight: 700pt !important;
}

.slider-title {
  text-align: center;
  margin-bottom: 0px;
  font-size: 16pt;
  font-weight: 500;
}


svg .text {
font-family: 'Roboto', sans-serif;
font-weight: 600;
}

.legend-label {
font-family: 'Roboto', sans-serif;
font-weight: 600;
}

svg {
font-family: 'Roboto', sans-serif;
font-weight: 600;
padding-top: 20px;
}

.bar {
  font-size: 12pt;
} 




input[type=checkbox]
{
/* Double-sized Checkboxes */
-webkit-transform: scale(1.5); /* Safari and Chrome */
transform: scale(1.5);
padding: 10px;
}

input[type=radio]
{
/* Double-sized Checkboxes */
-webkit-transform: scale(1.5); /* Safari and Chrome */
transform: scale(1.5);
padding: 10px;
}

hr {
  height: 2px;
}





/* Crowding Toggle Switch */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 0px;
  width: 60px;
  height: 34px;
  padding:3px;

}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  margin-top: 0px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  padding: 3px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  padding: 3px;
}

.slider.round:before {
  border-radius: 50%;
  padding: 3px;
}