<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <link rel="shortcut icon" href="#">
  <title>Everest Calculator</title>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
  
  <!-- Local CSS -->
  <link href="static/css/style.css" rel="stylesheet">

  <!-- External CSS  and scripts-->
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://d3js.org/d3.v7.min.js"></script>

  <!-- Fonts  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet"> -->


</head>

<body>
  
  <div id="map"></div>
  
    <div class="grid-container">

      <div class="grid-child form-container">

        
          <form id="everest=form" action="/api/v1.0/model" method="POST">
            
            
            <br>
            <label class="main-header"><strong>Enter Demographics</strong></label><hr><br>
            
            <label for="gender" style="word-wrap:break-word">
              <select name="gender" id="gender">
                <option value="0">Male</option>
                <option value="1">Female</option>
              </select> Gender
            </label>
            <br>

            <label for="age" style="word-wrap:break-word">
              <input id=age type="number" name=age min="0" step="1" value=37> Age
            </label>

            <label for="country" style="word-wrap:break-word">
              <select name="country" id="country">
              </select> Country
            </label>   
            <br>

            <label for="route" style="word-wrap:break-word">
              <select name="route" id="route">
                <option value="North">Northeast Ridge</option>
                <option value="South">Southeast Ridge</option>
                <option value="Other">Other</option>
              </select> Route
            </label>
            <br>

            <br>
            <label for="oxygen"><strong>Oxygen Use</strong></label><hr>

            <label for="oxygen" style="word-wrap:break-word">
              <input type="checkbox" name="ascent" id="ascent" value="True">For Ascent
            </label><br>
            
            <label for="oxygen" style="word-wrap:break-word">
              <input type="checkbox" name="descent" id="descent" value="True">For Descent
            </label><br>
            
            <label for="oxygen" style="word-wrap:break-word">            
              <input type="checkbox" name="sleep" id="sleep" value="True">While Sleeping
            </label><br>
            
            
                        
            <br>
            <label for="job"><strong>Expedition Role</strong></label><hr>
            <label for="climber" style="word-wrap:break-word">
              <input type="radio" name="job" id="climber" value="Climber" checked="checked">Climber
            </label><br>
            <label for="cook" style="word-wrap:break-word">
              <input type="radio" name="job" id="cook" value="Cook">Cook
            </label><br>
            <label for="doctor" style="word-wrap:break-word">
              <input type="radio" name="job" id="doctor" value="Doctor">Doctor
            </label><br>
            <label for="deputy" style="word-wrap:break-word">
              <input type="radio" name="job" id="deputy" value="Deputy">Deputy
            </label><br>
            <label for="leader" style="word-wrap:break-word">
              <input type="radio" name="job" id="leader" value="Leader">Leader
            </label><br>
            <label for="other" style="word-wrap:break-word">
              <input type="radio" name="job" id="other" value="Other">Other
            </label><br>
              
            <br>
            <label for="job"><strong>Crowding Model</strong></label><hr>

            <h3 class="slider-title">Number of Hikers</h3>
            <div id="slider"></div>
            

            <label for="crowding-state" class="switch" style="word-wrap:break-word">
              <input id="crowding-state" name="crowding-state" type="checkbox" value="True">
              <span class="slider round"></span>
            </label>
            <label class="activate-label">Activate Crowding Model</label>

            
            
            
            
          </form>
         
      </div>
        
      <div class="grid-child vis-container">
        
        
        
          
        <div class="vis-tub" >
          <h1 class="vis-header"><strong>Chance of <i>Success</i></strong></h1>
          <div id="success-bar-vis"></div>
        </div>

        <div class="vis-tub" >
          <h1 class="vis-header"><strong>Risk of <i>Death</i></strong></h1>
          <div id="death-bar-vis"></div>
        </div>

        <div class="vis-tub" >
          <h1 class="vis-header"><strong>Climber numbers and Your Chance of Success / Risk of Death</strong></h1>
          <svg class="vis-tub" id="crowding-line-vis" width="1000" height="450"></svg>
        </div>

        <div class="vis-tub" >
          <h1 class="vis-header"><strong>Change in predicted<br>
                                         <i>success</i> with Increasing Age</strong></h1>
          <svg class="vis-tub" id="age-success-line-vis" width="420" height="340"></svg>
        </div>

        <div class="vis-tub" >
          <h1 class="vis-header"><strong>Change in predicted risk of <br>
            <i>death</i> with Increasing Age</strong></h1>
          <svg class="vis-tub" id="age-death-line-vis" width="420" height="340"></svg>
        </div>
               
          
          
            
              
      
      </div>    
      
  
  
  
  
  
    </div>


  

  <!-- External scripts -->
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://unpkg.com/d3-simple-slider"></script>
  
  <!-- Local scripts -->
  <script src="static/js/mapScript.js"></script>
  <script src="static/js/initiate.js"></script>
  <script src="static/js/updateData.js"></script>
  <script src="static/js/barCharts.js"></script>
  <script src="static/js/crowdingLine.js"></script>
  <script src="static/js/ageLine.js"></script>
  <script src="static/js/slider.js"></script>

 
</body>

</html>