<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <link rel="shortcut icon" href="#">
  <title>Everest Calculator</title>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
  
  <!-- Local CSS -->
  <link href="static/css/style.css" rel="stylesheet">

  <!-- External CSS  and scripts-->
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://d3js.org/d3.v7.min.js"></script>

  <!-- Fonts  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" rel="stylesheet">


</head>

<body>


  
    
      <div class="nav">
        <div id="mountain" class="nav-link" id="vis-link">
          <img id="mountain-icon" src="../static/data/mountain.jpg">
        </div>
        <div class="nav-link" id="vis-link">
          <a onclick="showHideVis()" >Visualisations</a>
        </div>
        <div class="nav-link" id="about-link">
          <a onclick="showHideAbout()">About</a>
        </div>
      </div>

    
  

  
  
 
    <div id="map"></div>

    

    
    <div class="grid-container">

      <div class="grid-child form-container">

        
          <form id="everest=form" action="/api/v1.0/model" method="POST">
            
            
            <br>
              <label class="main-header"><strong>Enter Demographics</strong></label><br>
              
            <div class="form-item-holder">  
              <label for="gender" style="word-wrap:break-word">
                <select name="gender" id="gender">
                  <option value="0">Male</option>
                  <option value="1">Female</option>
                </select> Gender
              </label>
              <br>

              <label for="age" style="word-wrap:break-word">
                <input id=age type="number" name=age min="0" step="1" value=37> Age
              </label>

              <label for="country" style="word-wrap:break-word">
                <select name="country" id="country">
                </select> Country
              </label>   
              <br>

              <label for="route" style="word-wrap:break-word">
                <select name="route" id="route">
                  <option value="North">Northeast Ridge</option>
                  <option value="South">Southeast Ridge</option>
                  <option value="Other">Other</option>
                </select> Route
              </label>
              <br>
            </div>


            <br>
            <label class="sub-header" for="oxygen"><strong>Oxygen Use</strong></label>

            <div class="form-item-holder">
              <label for="oxygen" style="word-wrap:break-word">
                <input type="checkbox" name="ascent" id="ascent" value="True">For Ascent
              </label><br>
              
              <label for="oxygen" style="word-wrap:break-word">
                <input type="checkbox" name="descent" id="descent" value="True">For Descent
              </label><br>
              
              <label for="oxygen" style="word-wrap:break-word">            
                <input type="checkbox" name="sleep" id="sleep" value="True">While Sleeping
              </label><br>
            </div>
            
            
                        
            <br>
            <label class="sub-header" for="job"><strong>Expedition Role</strong></label>
            <div class="form-item-holder">
              <label for="climber" style="word-wrap:break-word">
                <input type="radio" name="job" id="climber" value="Climber" checked="checked">Climber
              </label><br>
              <label for="cook" style="word-wrap:break-word">
                <input type="radio" name="job" id="cook" value="Cook">Cook
              </label><br>
              <label for="doctor" style="word-wrap:break-word">
                <input type="radio" name="job" id="doctor" value="Doctor">Doctor
              </label><br>
              <label for="deputy" style="word-wrap:break-word">
                <input type="radio" name="job" id="deputy" value="Deputy">Deputy Leader
              </label><br>
              <label for="leader" style="word-wrap:break-word">
                <input type="radio" name="job" id="leader" value="Leader">Expedition Leader
              </label><br>
              <label for="other" style="word-wrap:break-word">
                <input type="radio" name="job" id="other" value="Other">Other
              </label><br>
            </div>
              
            <br>
            <label class="sub-header" for="job"><strong>Crowding Model</strong></label>

            <div class="form-item-holder">
              <h3 class="slider-title">Number of Hikers</h3>
              <div id="slider"></div>
              

              <label for="crowding-state" class="switch" style="word-wrap:break-word">
                <input id="crowding-state" name="crowding-state" type="checkbox" value="True">
                <span class="slider round"></span>
              </label>
              <label class="activate-label">Activate Crowding Model</label>
            </div><br>

            <div class="form-item-holder last">            
              <label for="map-rotation" class="switch" style="word-wrap:break-word">
                <input id="map-rotation" name="crowding-state" type="checkbox" value="True" checked="true">
                <span class="slider round"></span>
              </label>
              <label class="activate-label">Map Rotation</label>
            </div>
            
            
            
            
          </form>
         
      </div>
    
    <div class="grid-child">
      
      
      <div id="welcome-container">
        <div class="welcome-box">
          <h1 id="welcome-main">Everest Risk Calculator</h1>
          <h3 id="welcome-sub">Quantify the risk of climbing Earth's highest peak</h3>
        </div><br>   
        <div class="view">
          <button id="view-button" onclick="showHideVis()">View Visualisations</button>
        </div>
      </div> 
    
      <div id="about-container" class="grid-child about-container" style="display:none">

        <div class="about-sub-container">

          <h1 id="äbout-header">Everest risk calculator</h1>
          <figure id="crowding-image">
            <img src="https://static01.nyt.com/images/2019/05/27/world/26everest2-print/merlin_155279730_9a078aae-b874-4b50-9ff4-72a8ec2a93ae-superJumbo.jpg?quality=90&auto=webp" width=800 height=500 >
            <figcaption>A line of climbers wait to summit Everest May 2019.<br> <i>Image Source NY Times/ Agence France-Presse — Getty Images</i></figcaption>
          </figure>
          <div id="main-text">
            <h2 class="about-sub-header">Background</h2>
            <p>2021 marks the 100-hundred-year anniversary of the first attempt (unsuccessful) to summit Earth’s highest peak – Mount Everest. Another 32 years would pass before Edmund Hillary and Tenzing Norgay conquered the mountain, stepping foot on the summit for the first time.<p>
            </p>
            <p>Since then, more than 10000 expeditions and 78000 mountaineers have attempted the ascent. The success rate has steadily increased over time, but sadly so too has the count of those who have lost their live on the Mountain. To date 306 people have lost their lives attempting the ascent.</p>
            <p>
            Recently there has been <a class="about-link" href="https://www.nytimes.com/2019/05/26/world/asia/mount-everest-deaths.html">reports of overcrowding</a> on the mountain with social media photos of lines of climbers on the summit. This has drawn criticism over safety on the mountain and potential for increased death rates if not controlled
            </p>       
            
            <h2 class="about-sub-header">Aims</h2>
            <p>Using historical data I sought to create a machine learning to model analyse factors contributing to success and failure in reaching Everest's peak.</p>
            <p>I also sought to analyse what influence crowding of climbers was having on safety and success on the mountain</p>

            <h2 class="about-sub-header">Data Source</h2>
            <p>A freely accessible database of all Everest expeditions is available from the <a class="about-link" href="https://www.himalayandatabase.com/">Himalayan Database, Expedition Archieves</a>, and was used to access all available summit attempts since 1921</p>

            <h2 class="about-sub-header">Machine Learning Model</h2>
            <p>I've created a deep learning, nearal network model, using <a class="about-link" href="https://www.tensorflow.org/">Keras Tensorflow</a>, to predict the likelihood of success and the risk of death. A hyperperameter optimiser tool, <a class="about-link" href="https://github.com/autonomio/talos">Talos</a>, was used to optimise the model.</p>
            <p>The models achieved 89% accuracy on testing data for prediction of success, and 98.6% accuracy for prediction of death. An additional set of models were created to include the infuence of mountain crowding. This was done by including the number of climbers present on the mountain as a feature variable</p>

            <h2 class="about-sub-header">How to use</h2>
            <p>Click on the visualisations tab to view the results. Change the variables in the form to see how diffrent factors affect the chance of success and risk of death. To see the influence of crowding on the mountain activate the crowding model with toggle switch on the bottom of the form. The amount of crowding can be increased or decreased with the slider</p>



          


          </div>

          


          
         


        </div>


      </div>

      <div id= "vis-container" class="grid-child vis-container" style="display:none">
        
        
        
          
        <div class="vis-tub" >
          <h1 class="vis-header"><strong>Chance of <i>Success</i></strong></h1>
          <div id="success-bar-vis"></div>
        </div>

        <div class="vis-tub" >
          <h1 class="vis-header"><strong>Risk of <i>Death</i></strong></h1>
          <div id="death-bar-vis"></div>
        </div>

        <div class="vis-tub" >
          <h1 class="vis-header"><strong>Number of Climbers and your chance of <i>Success</i> / risk of <i>Death</i></strong></h1>
          <svg class="vis-tub" id="crowding-line-vis" width="1000" height="450"></svg>
        </div>

        <div class="vis-tub" >
          <h1 class="vis-header-age"><strong>Change in predicted<br>
                                         <i>success</i> with Increasing Age</strong></h1>
          <svg class="vis-tub" id="age-success-line-vis" width="420" height="340"></svg>
        </div>

        <div class="vis-tub" >
          <h1 class="vis-header-age"><strong>Change in predicted risk of <br>
            <i>death</i> with Increasing Age</strong></h1>
          <svg class="vis-tub" id="age-death-line-vis" width="420" height="340"></svg>
        </div>
               
          
          
            
              
      
      </div>    
    
    
    
    </div>

  </div>





    
      
  
  
  
  
  
</div>


  

  <!-- External scripts -->
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://unpkg.com/d3-simple-slider"></script>
  
  <!-- Local scripts -->
  <!-- <script src="static/js/mapScript.js"></script> -->
  <script src="static/js/initiateAndUpdate.js"></script>
  <!-- <script src="static/js/updateData.js"></script> -->
  <script src="static/js/charts/barCharts.js"></script>
  <script src="static/js/charts/crowdingLine.js"></script>
  <script src="static/js/charts/ageLine.js"></script>
  <script src="static/js/slider.js"></script>

 
</body>

</html>